@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --clr-white-100: #f9f9f9;
  --clr-violet-200: #f6c6ea;
  --clr-green-200: #cdf0ea;
  --clr-yellow-200: #faf4b7;
  --clr-red-600: #ff0000;
}

* {
  padding: 0%;
  margin: 0%;
  outline: 0ch;
  box-sizing: border-box;
  font-family: "Poppins";
}

body {
  background-color: var(--clr-white-100);
}

nav {
  background-color: var(--clr-violet-200);
  padding: 1% 6%;
  text-align: center;
}

#create-blog-form {
  padding: 2% 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 4rem;
  border-top: 2px solid #333;
  border-bottom: 2px solid #333;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid #333;
  padding: 4px 1rem;
}

.form-part-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-part-1 label {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.add-btn {
  background-color: transparent;
  border: 2px solid #333;
  width: fit-content;
  height: fit-content;
  border-radius: 4px;
  padding: 4px 2rem;
  transition: all ease-in-out 0.3s;
}

.add-btn:hover {
  transform: scale(1.2);
}

.add-btn:active {
  transform: scale(0.9);
}

#blogs {
  padding: 6%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
  align-items: center;
  gap: 2rem;
}

.card {
  background-color: var(--clr-green-200);
  border-radius: 1rem;
  padding: 2rem;
  width: 25rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  box-shadow: 1px 1px 20px rgba(51, 51, 51, 0.355);
  transition: all ease-in-out 0.3s;
}

.card:hover {
  box-shadow: 0px 0px 0px rgba(51, 51, 51, 0.355);
  transform: translateY(-1rem);
}

.title {
  width: 100%;
  height: 10rem;
  text-align: center;
}

.user {
  font-size: 1rem;
  font-weight: 300;
}

.blog-body {
  height: 15rem;
  overflow: hidden;
}

.delete-btn {
  width: fit-content;
  margin: 0 auto;
  padding: 4px 1rem;
  border-radius: 1rem;
  list-style: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: transparent;
  color: var(--clr-red-600);
  transition: all ease-in-out 0.3s;
}

.delete-btn:hover {
  background-color: var(--clr-red-600);
  color: #fff;
}
